<form id='tool-input-form'>
</form>
<script type="text/javascript">
    $('#tool-input-form').jsonForm({
      schema: {
        string: {
            type: 'string',
            title: 'String',
            required: true,
            maxLength: 10000,
            default: "<%= query.string ? query.string : '' %>"
        },
        action: {
            type: "string",
            title: "Action",
            enum: [ "Encode", "Decode" ],
            default: "<%= query.action ? query.action : 'Encode' %>"
        }
    },
    form: [
        {
            key: "string",
            type: "textarea"
        },
        {
            key: "action",
            type: "radios"
        },
        {
            type: "submit",
            title: "OK Go"
        }   
    ],
    onSubmit: function (errors, values) {
        var url = window.location.href;
        if(url.indexOf("?") > 0) {
          url = url.substring(0, url.indexOf("?"));
        } 
        url += "?" + jQuery.param(values);
        window.location.replace(url);
      }
    });
</script>
  