<form id='tool-input-form'>
</form>
<script type="text/javascript">
    $('#tool-input-form').jsonForm({
      schema: {
        value: {
            type: 'string',
            title: 'Value',
            required: true,
            maxLength: 1000000,
            default: "<%= query.value ? query.value : '1' %>"
        },
        from: {
            type: "string",
            title: "From Currency",
            enum: [ "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BGN", "BHD", "BIF", "BMD", "BND", "BOB", "BRL", "BSD", "BTC", "BTN", "BWP", "BYR", "BZD", "CAD", "CDF", "CF", "CHF", "CLF", "CLP", "CNY", "CNY", "COP", "CRC", "CUC", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ETB", "ETH", "EUR", "FCFA", "FJD", "GBP", "GEL", "GHS", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "IQD", "IRR", "ISK", "JMD", "JOD", "JPY", "KES", "KGS", "KHR", "KRW", "KWD", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "LTC", "LYD", "MAD", "MDL", "MGA", "MKD", "MMK", "MOP", "MRO", "MUR", "MVR", "MWK", "MXN", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "OMR", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SDG", "SEK", "SGD", "SLL", "SOS", "SRD", "SVC", "SZL", "THB", "TJS", "TMT", "TND", "TOP", "TRY" , "TTD", "TWD", "TZS", "UAH", "UGX", "USD", "UYU", "UZS", "VES", "VND", "XBT", "XCD", "XOF", "XPF", "YER", "ZAR", "ZMW" ],
            default: "<%= query.from ? query.from : 'USD' %>"
        },
        to: {
            type: "string",
            title: "To Currency",
            enum: [ "AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN", "BAM", "BBD", "BDT", "BGN", "BHD", "BIF", "BMD", "BND", "BOB", "BRL", "BSD", "BTC", "BTN", "BWP", "BYR", "BZD", "CAD", "CDF", "CF", "CHF", "CLF", "CLP", "CNY", "CNY", "COP", "CRC", "CUC", "CVE", "CZK", "DJF", "DKK", "DOP", "DZD", "EGP", "ETB", "ETH", "EUR", "FCFA", "FJD", "GBP", "GEL", "GHS", "GMD", "GNF", "GTQ", "GYD", "HKD", "HNL", "HRK", "HTG", "HUF", "IDR", "ILS", "INR", "IQD", "IRR", "ISK", "JMD", "JOD", "JPY", "KES", "KGS", "KHR", "KRW", "KWD", "KYD", "KZT", "LAK", "LBP", "LKR", "LRD", "LSL", "LTC", "LYD", "MAD", "MDL", "MGA", "MKD", "MMK", "MOP", "MRO", "MUR", "MVR", "MWK", "MXN", "MYR", "MZN", "NAD", "NGN", "NIO", "NOK", "NPR", "NZD", "OMR", "PAB", "PEN", "PGK", "PHP", "PKR", "PLN", "PYG", "QAR", "RON", "RSD", "RUB", "RWF", "SAR", "SBD", "SCR", "SDG", "SEK", "SGD", "SLL", "SOS", "SRD", "SVC", "SZL", "THB", "TJS", "TMT", "TND", "TOP", "TRY" , "TTD", "TWD", "TZS", "UAH", "UGX", "USD", "UYU", "UZS", "VES", "VND", "XBT", "XCD", "XOF", "XPF", "YER", "ZAR", "ZMW" ],
            default: "<%= query.from ? query.from : 'INR' %>"
        }
    },
    form: [
        '*',
        {
            type: "submit",
            title: "OK Go"
        }   
    ],
    onSubmit: function (errors, values) {
        var url = window.location.href;
        if(url.indexOf("?") > 0) {
          url = url.substring(0, url.indexOf("?"));
        } 
        url += "?" + jQuery.param(values);
        window.location.replace(url);
      }
    });
</script>
  