<table class="table table-striped">
    <% for(var i=0; i<Object.keys(output.data).length; i++) {%>
        <% var key = Object.keys(output.data)[i] %>
        <% var value = output.data[key] %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
    <% } %>
    </table>